* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root {
    --cf-color: rgb(149, 10, 10);
  } */

body {
  background-color: rgb(213, 244, 213);
}

a {
  color: inherit;
  text-decoration: none;
}
.mynav {
  background-color: #b4d2e7;
  background-image: url("../images/clouds-7613361_1920.png");
  /* background-repeat: repeat; */
  background-size: cover;
  min-height: 100px;
  max-width: 1000px !important; /*in case of a xxl screen*/
  margin: 0 auto;
}
.nav-link {
  font-weight: bold;
  font-size: larger;
}

.myContainer {
  background-color: rgba(158, 154, 154, 0.4);
  padding: 0;
  background-image: url("../images/flowers-7910753_640.png");
  background-repeat: repeat;
  max-width: 1000px !important;
}
.hero-title {
  background-color: green;
  opacity: 0.7;
}

.bi-flower1 {
  margin: 0 15px;
}

.product {
  transition: all 0.2s ease-in-out;
}

.product:hover {
  transform: scale(1.02);
}

.product-button {
  background-color: #151616;
  color: white;
  font-size: 1em;
}

.product-button:hover {
  background-color: crimson;
  color: #eff1f5;
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}
.card img {
  margin: auto;
  width: 100%;
}
.cart {
  max-width: 1000px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}
.cart-row {
  border-bottom: 1px solid rgb(180, 176, 176);
  width: 100%;
  background-color: #b4d2e7;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.cart-items p {
  opacity: 0.3;
  padding: 0px 5px;
}

.cart-total {
  font-weight: bold;
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
}

.cart-btn {
  background-color: white;
}

.cart-total-title {
  font-size: 1.5em;
  margin-right: 20px;
}

#discount {
  margin-right: 5vw;
}

.btn-purchase {
  font-size: 1.5em;
  background-color: crimson;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-purchase:hover {
  background-color: white;
  color: crimson;
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}
footer {
  background-color: black;
  min-height: 100px;
  max-width: 1600px !important;
  margin: 0 auto;
}

@media screen and (max-width: 575px) {
  .btn-purchase {
    font-size: 1.2em;
    background-color: crimson;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}
